
body {
  background: black;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  font-size: 56px;
  color: orangered;
}

#subtitle {
  font-size: 24px;
  color: rgb(220,220,220);
}

.vdiv {
  background: rgb(50,50,50);
  height: 1px;
}

#tabbar {
  display: flex;
  justify-content: space-evenly;
}

.tab-btn {
  background: transparent;
  border: none;
}

.content {
  width: 45vw;
  height: 100vh;
}

.content-pair {
  display: flex;
  justify-content: space-evenly;
}

#intro {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 100px;
}

.bzlis-item {
  color: rgb(220,220,220);
}

.hidden-text {
  color: transparent;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.txt-glow {
  color: rgb(160,160,160);
  text-shadow: 0px 0px 15px rgb(46, 190, 238), 0px 0px 12px rgb(46, 190, 238), 0px 0px 15px rgb(46, 190, 238);
}